@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Poppins:ital,wght@1,100&display=swap');
html{
    height: 100%;
}
body {
    background-image: radial-gradient(rgb(54, 53, 53), rgb(19, 18, 18));
    height: 100%;
}
h1{
    font-family: 'Play', sans-serif;
    text-align: center;
    color:white;
    opacity: 87%;
    margin-bottom: 0px;
    font-size: 40px;
}
.content{
    /* border: 2px solid rgb(77, 77, 219); */
    height: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.innerContainer{
    height: 90%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}

/* formatting nav area on the left*/
.navSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 20%;
    height: 100%;
    /* border: 2px solid #FA2742; */

}
.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid green; */
    text-align: center;
    height: 60%;
}
a{
    color: #FA2742;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    /* font-style: italic; */
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
}
.active{
    font-weight: 500;
    border-style: solid;
    border-width: 5px;
    border-image: 
    linear-gradient(
      to bottom, 
      #FA2742, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

/*formatting text area on the right*/
.textSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    /* border: 2px solid #FA2742; */
    width: 60%;
    height: 100%;
}
#homeText{
    text-align: center;
    color:rgb(222, 221, 221);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width: 80%;
    border-style: solid;
    border-width: 5px;
    border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0),
      #FA2742, 
      rgba(0, 0, 0, 0)
    )100% 1;
}

/*about me page*/
#headshot{
    height: auto;
    max-width: 30%;
    float: right;
    margin: 20px;
    border: 3px solid #FA2742;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px#FA2742;
    /* border-image: linear-gradient(10deg, rgb(56, 18, 18), #FA2742) 1; */
}
.aboutInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    width: 60%;
    height: 100%;
}
#aboutText{
    text-align: center;
    color:rgb(222, 221, 221);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.aboutContainerInner{
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    border-style: solid;
    border-width: 5px;
    border-image: 
    linear-gradient(
      to right, 
      rgba(0, 0, 0, 0),
      #FA2742, 
      rgba(0, 0, 0, 0)
    )100% 1;
}


/*projects page*/
.todo,
.craigslist,
.gallery,
.instagram{
    margin-bottom: 40px;
    height: auto;
    padding: 0px;
    border: 3px solid;
    border-radius: 4px;
    border-image: linear-gradient(45deg, #FA2742, #fe347e, #9934fe) 1;
    box-shadow: 0px 0px 1px 1px #d934fe; 
}
.todo, 
.gallery,
.instagram{
    max-width: 60%;
}
.craigslist{
    max-width: 40%;
}
.projectsInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    /* border: 2px solid #FA2742; */
    width: 60%;
    height: 100%;
}
#project1,
#project2,
#project3,
#project4{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* max-height: 100%; */
    margin: 40px;
    padding: 30px;
    border: 3px solid #FA2742;
    border-radius: 20px;
    box-shadow: -3px 7px 3px 0.5px #FA2742;
}
#project1:hover,
#project2:hover,
#project3:hover,
#project4:hover{
    box-shadow: -3px 7px 5px 3px #FA2742;
}
p{
    text-align: center;
    color:rgb(222, 221, 221);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.projectsContainerInner{
    overflow-y: auto;
    overflow-x: hidden;
    width: 90%;
    float: left;
    max-height: 100%;
    margin-right: 30px;
}
#arrow{
    float: right;
    /* color: white; */
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p.arrow{
    background-image: linear-gradient(160deg, #FA2742,  #9934fe);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.projectsContainerOuter{
    max-height: 100%;
    display: flex;
    justify-content: center;
}
.projHeader{
    text-align: center;
    color:rgb(222, 221, 221);
    font-family: 'Play', sans-serif;
    font-size: 30px;
    border-bottom: 3px solid;
    border-image: linear-gradient(45deg, #FA2742, #fe347e, #9934fe, rgb(89, 0, 255)) 1;
    margin-bottom: 40px;
    margin-top: 0px;
}
.projectLink{
    color: #fe347e;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-style:normal;
    text-decoration: none;
    font-size: 25px;
    border: 3px solid;
    border-radius: 4px;
    border-image: linear-gradient(45deg, #FA2742, #fe347e, #9934fe) 1;
    box-shadow: 0px 0px 2px 2px #d934fe; 
    padding: 5px;
}
button{
    border: 3px solid #FA2742;
    border-radius: 4px;
    border-image: linear-gradient(45deg, #FA2742, #fe347e, #9934fe) 1;
    box-shadow: 0px 0px 1.5px 1.5px #d934fe; 
    padding: 2px;
    margin: 4px;
    background: none;
    color: #fe347e;
    font-family: 'Play', sans-serif;
    font-size: 20px;
}
button:hover,
.projectLink:hover{
    box-shadow: 0px 0px 3px 3px #d934fe; 
}
#proj2ImgContainer{
    display: flex;
    justify-content: space-evenly;
}


