@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    height: 100%;
}
body {
    background: rgb(204, 225, 232);
    background-image: radial-gradient(rgb(54, 53, 53), rgb(19, 18, 18));
    height: 100%;
}
h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color:white;
    opacity: 87%;
}
.content{
    /* border: 2px solid rgb(77, 77, 219); */
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.innerContainer{
    height: 70%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
}

/* formatting nav area on the left*/
.navSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 30%;
    height: 100%;
    /* border: 2px solid #FA2742; */

}
.sidenav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid green; */
    text-align: center;
    height: 80%;
}
a{
    color: #FA2742;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
}
.active{
    /* background-color: rgb(222, 221, 221); */
    font-weight: 500;
    border-style: solid;
    border-width: 5px;
    border-image: 
    linear-gradient(
      to bottom, 
      #FA2742, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

/*formatting text area on the right*/
.textSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    /* border: 2px solid #FA2742; */
    width: 50%;
    height: 100%;
}
#homeText{
    text-align: center;
    color:rgb(222, 221, 221);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

/*about me page*/
#headshot{
    height: auto;
    max-width: 30%;
    float: right;
    padding: 20px;
}
.aboutInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    border: 2px solid #FA2742;
    width: 50%;
    height: 100%;
}
#aboutText{
    text-align: center;
    color:rgb(222, 221, 221);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
}